stages:
  - lint
  - test

variables:
  EO_CONTAINERS: $REGISTRY_GITLAB/eo-containers
  EOSETS_CHANGES: eosets/**/[^_]*.{py,xml}

lint:
  image: python:3.10-buster
  stage: lint
  script:
    - python -m pip install --upgrade pip
    - pip install ruff
    - ruff format && ruff check
  except:
    - tags

pytest:
  image: $EO_CONTAINERS:geo_latest
  stage: test
  variables:
    CI_EOSETS_USE_S3: "0"
  before_script:
    - python -m pip install --upgrade pip
    - pip install --ignore-installed PyYAML
    - pip install -r requirements.txt
    - pip install -e .
  script:
    - python -m pytest ci -v --durations=0 --cov-report term --cov-report html:${CI_PROJECT_DIR}/cov.html --cov=eosets --log-cli-level DEBUG --capture=tee-sys
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/cov.html
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  tags:
    - sertit
    - linux
    - high_memory
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - changes:
        - $EOSETS_CHANGES
        - ci/**/*.{py,xml}
        - .gitlab-ci.yml
        - pytest.ini
  needs: [ "lint" ]

pytest_s3:
  image: $EO_CONTAINERS:geo_latest
  stage: test
  variables:
    CI_EOSETS_USE_S3: "1"
  before_script:
    - python -m pip install --upgrade pip
    - pip install --ignore-installed PyYAML
    - pip install -r requirements.txt
    - pip install -e .
  script:
    - python -m pytest ci -v --durations=0 --cov-report term --cov-report html:${CI_PROJECT_DIR}/cov_s3.html --cov=eosets --log-cli-level DEBUG --capture=tee-sys
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/cov_s3.html
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  tags:
    - sertit
    - linux
    - high_memory
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - changes:
        - $EOSETS_CHANGES
        - ci/**/*.{py,xml}
        - .gitlab-ci.yml
        - pytest.ini
  needs: [ "lint" ]


# Test with Python3.13
pytest_end_to_end_313:
  image: $EO_CONTAINERS:geo_313_latest
  stage: test
  variables:
    CI_EOSETS_USE_S3: "0"
  before_script:
    - python -m pip install --upgrade pip
    - pip install --ignore-installed PyYAML
    - pip install -r requirements.txt
    - pip install -e .
  script:
    - python -m pytest ci -v --durations=0 --cov-report term --cov=eosets --log-cli-level DEBUG --capture=tee-sys
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  tags:
    - sertit
    - linux
    - high_memory
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "3.13"'
      when: always

# Test with Python 3.14
pytest_end_to_end_314:
  image: $EO_CONTAINERS:geo_314_latest
  stage: test
  variables:
    CI_EOSETS_USE_S3: "0"
  before_script:
    - python -m pip install --upgrade pip
    - pip install --ignore-installed PyYAML
    - pip install -r requirements.txt
    - pip install -e .
  script:
    - python -m pytest ci -v --durations=0 --cov-report term --cov=eosets --log-cli-level DEBUG --capture=tee-sys
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  tags:
    - sertit
    - linux
    - high_memory
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "3.14"'
      when: always
