# Generic extension to ignore
*.py[cod]
.idea
*.txt
!*requirements.txt
!*requirements-doc.txt
*.aux.xml
__pycache__/
*.gfs
.tox
.coverage
cov.xml
*.lock
.run

# Build options
build/
*.egg-info/
dist/

# Docs & Notebooks
docs/_build/*
!docs/_build/.jupyter_cache
docs/api
.ipynb_checkpoints
/docs/notebooks/test.ipynb

# Dask
dask-worker-space/*


# CI
ci/ci_output
