-r requirements.txt

# Doc
sphinx<6.0.0  # workaround
ipython  # workaround
sphinx-book-theme
sphinx-copybutton
myst-nb
myst-parser
linkify-it-py

cartopy==0.19.0.post1
jupyter
matplotlib
hvplot
geoviews

# workaround
# jinja2==3.0.3

-e .
